$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "~electron-tabs/electron-tabs.css";

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.form-inline .url-bar {
  width: 50%;
  display: inline-block;
}

.tab-container {
  display: inline-flex;
  width: 100%;
  background-color: #f8f8f8;
}

.bookmark-bar {
  border-top: lightgray solid 1px;
  margin-top: 10px;
  padding: 10px;
}

.bookmark-select {
  display: inline-block;
  width: 50%;
}

.add-tab-button-container {
  height: auto;
}

.add-tab-button {
  height: 100%;
}

.folder-text {
  width: 150px;
}

.capture-container {
  margin: 10px;
  text-align: center;

  .capture-progress-container {
    .progress, .progress-num, .progress-status {
      margin-top: 7px;
      text-align: left;
    }
  }
}

.capture-button {
  margin: 10px;
}

.pdf-checkbox {
  margin: 0px 10px;
}

/* ----- bootstrap override ----- */

.navbar {
  .container {
    padding: 10px 0px 0px 0px;
    width: 100%;
    .tab-container .navbar-brand {
      height: 30px;
      padding: 5px 15px;
      margin-left: 0px;
    }
  }
  .navbar-default {
    min-height: 30px;
    margin-bottom: 0px;
  }
}

.form-inline {
  padding: 8px;
}

/* ----- electron-tabs override ----- */

.tab-container .etabs-tabgroup {
  height: auto;
  background-color: #f8f8f8;
}

.etabs-tabgroup .etabs-tabs {
  height: 100%;
}

.etabs-tabgroup .etabs-tabs .etabs-tab {
  height: auto;
}

.etabs-tab-title {
  width: 80px;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
