doctype html
html
  head
    title captosh
    meta(charset="utf-8")
    meta(http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src *")
    link(rel="stylesheet" type="text/css" href="css/window.css")
    script(type="text/javascript" src="js/window.js")

  body
    #main-view

    //- script.
    //-   require('electron-connect').client.create();
